@model mypassionproject.Models.PetDto

@{
    ViewBag.Title = "View";
}


<div class="total-form backbtn">
    <h2 class="fixtitle backbtn">Are you sure you want to delete?</h2>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetDatebirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetDatebirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetBreed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetBreed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetBio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetBio)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Pet", new { id = Model.PetID }))
    {
        @Html.AntiForgeryToken()
<div class="col-md-12 delbuttons">
    <div class="form-actions no-color buttons">
        <input type="submit" value="Delete" class="btn btn-delete" />
        <div class="btn btn-back">
            @Html.ActionLink("Back to List", "List")
        </div>
    </div>
  </div>
    }
</div>

