@model mypassionproject.Models.ViewModels.ShowPet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
     <div class="col-md-12">
        <div class="btn btn-back">
            @Html.ActionLink("Back to List", "List")
        </div>
    </div>
    
        <div class="col-md-6 images"><img src="~/Content/images/client2.jpg" width="350" /></div>
        <dl class="dl-horizontal col-md-6 details">
            <h2 class="fixtitle">Pet Details</h2>
            <div class="information">
                <dt>
                    @Html.DisplayNameFor(model => model.client.ClientFirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.client.ClientFirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pet.PetName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pet.PetName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pet.PetDatebirth)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pet.PetDatebirth)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pet.PetType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pet.PetType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pet.PetBreed)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pet.PetBreed)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pet.PetBio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pet.PetBio)
                </dd>
            </div>
        </dl>
    </div>
<p>
    <div class="col-md-12 buttons">
        <div class="col-md-6">
            <div class="btn btn-delete">@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.pet.PetID })</div>
        </div>
        <div class="col-md-6">
            <div class="btn btn-add btn-small">
                @Html.ActionLink("Edit", "Edit", new { id = Model.pet.PetID })
            </div>
        </div>
        </div>


</p>

