@model IEnumerable<mypassionproject.Models.PetDto>

@{
    ViewBag.Title = "View";
}

<h2>List</h2>

<p>
    <a class="btn btn-add btn-small" href="Create">Create New</a>
    
</p>
<table class="table table-add">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.PetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetDatebirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetBreed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetBio)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetDatebirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetBreed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetBio)
            </td>
            <td>
                <div class="btn btn-add btn-small">
                    @Html.ActionLink("Edit", "Edit", new { id = item.PetID })
                </div>
                <div class="btn btn-add btn-small">
                    @Html.ActionLink("Details", "Details", new { id = item.PetID })
                </div>
            </td>
        </tr>
    }

</table>
