@model mypassionproject.Models.BookingDto

@{
    ViewBag.Title = "View";
}


<div class="total-form backbtn">
    <h2 class="fixtitle backbtn">Are you sure you want to delete?</h2>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Booking", new { id = Model.BookingID }))
    {
        @Html.AntiForgeryToken()
<div class="col-md-12 delbuttons">
    <div class="form-actions no-color buttons">
        <input type="submit" value="Delete" class="btn btn-delete" />
        <div class="btn btn-back">
            @Html.ActionLink("Back to List", "List")
        </div>

    </div>
    </div>
    }
</div>
