@model mypassionproject.Models.ViewModels.ShowBooking

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <div class="col-md-12">
        <div class="btn btn-back">
            @Html.ActionLink("Back to List", "List")
        </div>
    </div>
    <div class="col-md-6 images"><img src="~/Content/images/booking v1.jpg" width="350" /></div>

    <dl class="dl-horizontal col-md-6 details">
        <h2 class="fixtitle">Booking Details</h2>
        <div class="information">
            <dt>
                @Html.DisplayNameFor(model => model.client.ClientFirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.client.ClientFirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.booking.BookingPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.booking.BookingPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.booking.BookingDes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.booking.BookingDes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.booking.BookingDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.booking.BookingDate)
            </dd>
        </div>
    </dl>
</div>
    <p>
        <div class="col-md-6 buttons">
            <div class="col-md-6">
                <div class="btn btn-delete">@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.booking.BookingID })</div>
            </div>
            <div class="col-md-6">
                <div class="btn btn-add btn-small">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.booking.BookingID })
                </div>
             </div>
            </div>


</p>
