@model mypassionproject.Models.ViewModels.ShowClient

@{
    ViewBag.Title = "Details";
}
<div class="col-md-12 backbtn">
    <div class="btn btn-back">
        @Html.ActionLink("Back to List", "List")
    </div>
</div>
<div>

    <div class="col-md-6 images"><img src="~/Content/images/user1.jpg" width="350" /></div>
    <dl class="dl-horizontal col-md-6 details">
        <h2 class="fixtitle">User Profile Details</h2>
        <div class="information">
            <dt>
                @Html.DisplayNameFor(model => model.client.ClientFirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.client.ClientFirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.client.ClientLastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.client.ClientLastName)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.client.ClientPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.client.ClientPhone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.client.ClientEmail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.client.ClientEmail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.client.ClientAddress)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.client.ClientAddress)
            </dd>
        </div>
    </dl>
    <div class="display">
        <div class="col-md-3">

            <div>
                <h3 class="fixtitle">My pets</h3>
                @foreach (var pet in Model.clientpets)
                {
                    <div class="links">
                        @Html.ActionLink(
                         pet.PetName,
                         "Details",
                         "Pet",
                         new { id = pet.PetID },
                         new { })
                    </div>
                }
            </div>
        </div>
        <div class="col-md-3">

            <div>
                <h3 class="fixtitle">My booking</h3>
                @foreach (var booking in Model.clientbookings)
                {
                    <div class="links">

                        @Html.ActionLink(
                        booking.BookingDes,
                        "Details",
                        "Booking",
                        new { id = booking.BookingID },
                        new { })
                    </div>
                }
            </div>
        </div>

    </div>
</div>





<p>
    <div class="col-md-6 buttons">

        <div class="col-md-6">
            <div class="btn btn-delete">@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.client.ClientID })</div>
        </div>
        <div class="col-md-6">
            <div class="btn btn-add btn-small">
                @Html.ActionLink("Edit", "Edit", new { id = Model.client.ClientID })
            </div>
        </div>

    </div>



</p>





<p>
    <div class="col-md-12 buttons">

        <div class="col-md-6">
            <div class="btn btn-delete">@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.client.ClientID })</div>
        </div>
        <div class="col-md-6">
            <div class="btn btn-add btn-small">
                @Html.ActionLink("Edit", "Edit", new { id = Model.client.ClientID })
            </div>
        </div>

    </div>



</p>
