@model mypassionproject.Models.ClientDto


@{
    ViewBag.Title = "View";
}

<h2>Update</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="total-form">
    <h2 class="fixtitle">Edit Client Profile</h2>
    <div class="form-horizontal form-add">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ClientID)

        <div class="form-group">
            @Html.LabelFor(model => model.ClientFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientFirstName, new { htmlAttributes = new { @class = "form-control", Name = "ClientFirstName" } })
                @Html.ValidationMessageFor(model => model.ClientFirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientLastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientLastName, new { htmlAttributes = new { @class = "form-control", Name = "ClientLastName" } })
                @Html.ValidationMessageFor(model => model.ClientLastName, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.ClientPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientPhone, new { htmlAttributes = new { @class = "form-control", Name = "ClientPhone" } })
                @Html.ValidationMessageFor(model => model.ClientPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientEmail, new { htmlAttributes = new { @class = "form-control", Name = "ClientEmail" } })
                @Html.ValidationMessageFor(model => model.ClientEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientAddress, new { htmlAttributes = new { @class = "form-control", Name = "ClientAddress" } })
                @Html.ValidationMessageFor(model => model.ClientAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-add btn-small" />
            </div>
        </div>
    </div>

</div>

}

<div class="btn btn-back">
    @Html.ActionLink("Back to List", "List")
</div>


